/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

.container {
	display: flex;
	max-width: 960px;
	margin: 0 auto;
	justify-content: space-between;
	background-color: #eaeaea;
}
.profile {
	flex-basis: 35%;
	background-color: #39383a;
	color: #ababab;
	font-family: Roboto, sans-serif;
}

.profile-photo {
	height: 230px;
	background-image: url(https://a.radikal.ru/a34/2009/f6/dabec818beec.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.info-wrap {
	padding: 50px 30px 70px;
}
.profile-info {
}
.profile-text {
	font-size: 13px;
	line-height: 24.19px;
	margin: 20px 0 25px;
}
.heading {
	margin: 0;
	padding-bottom: 16px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: Open Sans, sans-serif;
	letter-spacing: 0.63px;
}
.heading-light {
	color: #ffffff;
	border-bottom: 2px dashed #5a5a5a;
}

.contacts {
	margin-bottom: 70px;
}
.contacts-item {
	border-bottom: 2px dashed #5a5a5a;
	padding-top: 20px;
	padding-bottom: 20px;
	font-style: normal;
}

.contacts-title {
	margin-bottom: 10px;
	color: #fff;
}

.contacts-text {
	text-decoration: none;
	color: #ababab;
	font-size: 13px;
	margin-left: 29px;
}
.contacts-text:last-child {
	margin-left: 25px;
}
.fas,
.fab {
	margin-right: 10px;
}

.languages {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}
.language {
	width: 101px;
	height: 101px;
	border: 6px solid #5c5c5c;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
	margin-bottom: 30px;
	line-height: 20px;
}
.language:last-child {
	margin-bottom: 0;
}
.lines {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.line {
	width: 90px;
	height: 2px;
	background-color: #5c5c5c;
	margin-bottom: 20px;
}
.line:nth-child(2) {
	margin-left: 15px;
}

.resume {
	flex-basis: 65%;
	padding: 25px 30px;
	background-color: #ffffff;
	color: #39383a;
	font-family: Roboto, sans-serif;
}
.resume-content {
	border: 1px solid rgba(168, 168, 168, 0.44);
	padding: 36px 56px;
	height: 100%;
}

.logo {
	display: flex;
	justify-content: center;
}
.logo-img {
	width: 90px;
	height: 90px;
	border: 1px solid #39383a;
	border-radius: 50%;
	text-align: center;
	color: #39383a;
	font-size: 18px;
	text-transform: uppercase;
	font-family: Open Sans, sans-serif;
	font-weight: 600;
	margin-left: 17px;
	margin-right: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-lines {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo-line {
	width: 43px;
	height: 2px;
	background-color: #39383a;
	margin-bottom: 10px;
	margin-top: 10px;
}

.logo-line:last-child {
	margin-bottom: 0;
}
.logo-lines_left .logo-line:nth-child(2) {
	margin-right: 30px;
	width: 55px;
}
.logo-lines_right .logo-line:nth-child(2) {
	margin-left: 30px;
	width: 55px;
}
.resume-top {
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 30px;
}
.title {
	padding: 40px 0px 30px;
}
.title h1 {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	color: #39383a;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.title h4 {
	font-family: Open Sans, sans-serif;
	font-size: 9px;
	color: #808080;
	text-transform: uppercase;
	letter-spacing: 1.72px;
}

.resume-contacts address {
	font-style: normal;
	font-size: 13px;
	font-weight: 500;
}
.contacts-links {
	display: flex;
	justify-content: center;
	align-items: center;
}
.contacts-links span {
	font-weight: 600;
}
.contacts-links li {
	text-decoration: none;
	font-size: 8px;
	color: #777777;
	border-right: 1px solid #777777;
	margin-top: 14px;
	padding: 0 10px;
}

a:link {
	color: #777777;
}
.heading-dark {
	padding-top: 20px;
	padding-bottom: 20px;
}

.item .item-title:before {
	content: "";
	width: 9px;
	height: 9px;
	background-color: #39383a;
	border-radius: 50%;
	display: inline-block;
	margin-right: 25px;
}

.item .item-title {
	font-family: Open Sans - Semibold, sans-serif;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.73px;
}
.education .item {
	border-top: 1px solid #e0e0e0;
	padding: 30px 0;
}
.date {
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 35px;
	color: #39383a;
	font-family: Roboto;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.68px;
}
.text {
	color: #777777;
	font-family: Roboto;
	font-size: 10px;
	line-height: 14.52px;
	letter-spacing: 0.38px;
	margin-left: 35px;
}
.skills h2 {
	padding-bottom: 20px;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 40px;
}
.skill-list li {
	font-family: Open Sans - Semibold, sans-serif;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.73px;
	margin-bottom: 30px;
}
.skill-list__item {
	display: flex;
	justify-content: space-between;
}
.level {
	width: 70%;
	height: 8px;
	border: 1px solid #39383a;
	position: relative;
}
.level-50:before {
	content: "";
	height: 100%;
	width: 50%;
	background-color: #898989;
	position: absolute;
}
.level-90:before {
	content: "";
	height: 100%;
	width: 90%;
	background-color: #898989;
	position: absolute;
}
.level-20:before {
	content: "";
	height: 100%;
	width: 20%;
	background-color: #898989;
	position: absolute;
}
